h1 {
  background-color: aquamarine;
  color: blueviolet;
}

#home {
  background-color: white;
  color: black;
}

.table-head {
  background-color: blue;
  color: yellow;
}

#table-body td {
  color: azure;
  background-color: black;
}

#main-row td.main-head {
  color: red;
  background-color: aquamarine;
}
